---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
---
<Layout>
  <Navigation />
  <main>
    <section class="blog">
      <h2>Blog</h2>
    </section>
  </main>
</Layout>

