---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
import About from '../components/About.astro';

import './variables.css';

---
<Layout>
  <Navigation />
	<main>
		<About />
	</main>
</Layout>

<style>
	/* CENTER */
	main {
		display: flex;
		flex-direction: column;
		gap: 5rem;
	}
</style>