---
import Layout from '../layouts/Layout.astro';
import About from '../components/About.astro';
import Projects from '../components/Projects.astro';

import './variables.css';

---
<Layout>
	<main>
		<About />
		<Projects />
	</main>
</Layout>

<style>
	/* CENTER */
	main {
		display: flex;
		flex-direction: column;
		gap: 5rem;
	}
</style>