---
import Meta from '../components/Meta.astro';
import Favicon from '../components/Favicon.astro';
import About from '../components/About.astro';
import Connect from '../components/Connect.astro';
import Project from '../components/Project.astro';

import './variables.css';
---
<title>Wylie Fisher</title>
<Meta />
<Favicon />

<div class="layout">
	<header>
		<h1>Wylie Fisher</h1>
		<h3>
			Front-End Web Developer
		</h3>
	</header>
	<main>
		<About />
		<section class="projects">
			<h2>Projects</h2>
			<Project
				title='How Do You Feel Today?',
				description="'How Do You Feel Today?' is a React app where users can anonymously share their current mood, contributing to a collective mosaic of emotions. Each submission adds to an evolving 'mood board', offering a real-time snapshot of the community's shared feelings.",
				link='https://howdoyoufeelto.day',
				skills={['HTML', 'CSS', 'JavaScript', 'React']}
			/>
			<Project
				title='Nerds (Star Wars) Timeline',
				description="As a self-proclaimed Star Wars nerd, I'm building a comprehensive repository of Star Wars media, including books, movies, TV shows, comics, and more. The goal is to create a centralized, complete, and up-to-date resource for fans of every level to explore the Star Wars universe. Whether you're a seasoned Jedi or a Padawan just starting your journey, this guide will help you navigate the galaxy far, far away.",
				link='https://nerdstimeline.com',
				skills={["HTML", "CSS", "JavaScript"]}
			/>
			<Project
				title='Maze Game?',
				description="This is a maze game developed in Lua in Pico-8. In this game, you navigate a little character through a dark maze, trying to find the exit. The maze is filled with twists and turns, and you'll need to use your wits and memory to avoid dead ends and find your way out. Good luck, and happy maze-solving!",
				link='https://wylie.github.io/pico-8/',
				skills={["Lua", "Pico-8"]}
			/>
			<Project
				title='Santa Commands It',
				description="This work in progress is a playful React app where Santa has taken a commanding turn, granting (or denying) users' holiday wishes with a touch of humor and seasonal flair. Users submit their requests, and Santa, now a bit more 'powerful,' considers each one and delivers a dynamic, festive response. Enjoy making wishes, but beware—Santa's judgment may surprise you!",
				link='https://wylie.github.io/SantaCommandsIt/',
				skills={["HTML", "CSS", "JavaScript", "React"]}
			/>
		</section>
		<section class="connect">
			<h2>Connect</h2>
			<Connect url="mailto:me@wyliefisher.com" title="Email me!" icon="email" />
			<Connect url="https://github.com/wylie" title="More work on GitHub!" icon="github" />
			<Connect url="https://www.linkedin.com/in/wyliefisher/" title="Let's connect on Linkedin!" icon="linkedin" />
			<Connect url="https://www.goodreads.com/wyliefisher" title="Read with me on Goodreads!" icon="goodreads" />
		</section>
	</main>
	<footer>
		<p>quote</p>
		<!-- <p>{getRandomClone()}</p> -->
	</footer>
</div>

<style>
	#root {
		display: grid;
	}
	.layout {
		display: grid;
		grid-template-rows: auto 1fr auto;
		row-gap: var(--gap);
		width: 75%;
		max-width: 650px;
		justify-self: center;
		transition: width .2s;
		margin: auto;
	}
	@media (max-width: 600px) {
		.layout {
			width: 90%;
		}
	}
	/* HEADER */
	header {
		width: 100%;
		border-bottom: 3px solid var(--border-color);
		padding-bottom: 1rem;
	}
	header h3 {
		display: flex;
		justify-content: space-between;
	}
	header button {
		display: flex;
		padding: 0;
		border: 0;
		background: transparent;
		cursor: pointer;
	}
	header .icon {
		filter: invert(23%) sepia(11%) saturate(749%) hue-rotate(145deg) brightness(92%) contrast(92%);
		height: 1.5rem;
	}
	.dark header .icon {
		filter: invert(90%) sepia(0%) saturate(0%) hue-rotate(180deg) brightness(95%) contrast(90%);
	}
	header .icon:hover {
		transform: scale(1.02);
	}
	header .icon:active {
		transform: scale(0.98);
	}
	/* CENTER */
	main {
		display: flex;
		flex-direction: column;
		gap: 5rem;
	}
	/* FOOTER */
	footer {
		padding: var(--gap) 0;
		border-top: 3px solid var(--border-color);
	}
	footer p {
		font-size: var(--fontSize-secondary);
		font-style: italic;
	}
	.connect {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
  }
  .connect h2 {
    flex: 1 1 100%;
  }

	.projects {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    grid-template-areas:
      "title"
      "project"
      "project"
      "project"
      "project";
    ;
  }
  .projects h2 {
    grid-area: title;
  }
  @media (min-width: 600px) {
    .projects {
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "title title"
        "project project"
        "project project";
      ;
    }
  }

</style>