---
---
<nav>
  <p><a href="/blog/">about</a> <a href="/blog/projects/">projects</a> <a href="/blog/blog/">blog</a></p>
</nav>

<style>
  nav {
    border-bottom: 3px solid var(--border-color);
    padding: .5rem 0;
    margin: -1rem 0 0;
  }
</style>