<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Wylie Fisher" />
    <meta property="og:image" content="%PUBLIC_URL%/share-image.png" />
    <meta property="og:image:alt" content="A drawing of Wylie under the name Wylie Fisher" />
    <meta property="og:description" content="Ahoy! I'm Wylie Fisher, a dad, developer, and outdoor enthusiast." />
    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="Wylie Fisher" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
